<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Responsive</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-th-list"></span>
					</a>
					<a href="#" class="brand">Corporate Logo</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
		<div class="hero-unit">
		<div class="container">
			<h1>Here's a fancy headline</h1>
			<p>Every other website has one, so why not?</p>
			<p><a href="#" class="btn btn-primary btn-large">Get started</a></p>
		</div>
		</div>


		<div class="container">
			<div class="row-fluid">
				<div class="span8">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consequat turpis. Mauris eu tincidunt orci. Aliquam rutrum tellus vel orci fermentum gravida. Pellentesque nec mi a orci aliquam convallis in sed leo. Curabitur at ligula in erat pulvinar euismod. Proin a nulla ut leo adipiscing dictum. Etiam ac lobortis lorem. Maecenas eu turpis in leo viverra rhoncus nec quis enim. Sed iaculis facilisis fringilla.</p>

					<p>Sed tincidunt consequat elit elementum pulvinar. Nam tempor lorem eros, quis commodo felis rhoncus sed. Fusce velit felis, mollis eget vulputate iaculis, tempus a quam. Quisque libero purus, placerat sed enim non, condimentum pharetra libero. Mauris lobortis porttitor commodo. Fusce id augue ut orci vestibulum dictum eu sed leo. Aenean in cursus ligula, at posuere elit. Maecenas adipiscing ipsum eget risus fringilla, a volutpat neque mattis. Praesent ornare tortor et imperdiet pellentesque. Pellentesque lacinia vel neque vulputate commodo. Proin dictum vestibulum molestie. Vivamus dapibus augue sit amet mi dignissim cons.</p>


					<div class="row-fluid">
						<div class="span4">
							<h4>Quick</h4>
							<p>We're super quick at doing stuff. <a href="#">Ask our clients</a></p>
							<a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i>Our clients</a>
						</div>
						<div class="span4">
							<h4>Helpful</h4>
							<p>Any time of the day, please contact us.</p>
							<a href="#" class="btn btn-primary">Get in touch</a>
						</div>
						<div class="span4">
							<h4>Helpful</h4>
							<p>Any time of the day, please contact us.</p>
					
						</div>
					</div>
				</div>
				<div class="span4">
					<ul class="nav nav-list">
						<li class="nav-header">Our services</li>
						<li class="active"><a href="#">Overview</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Dry Cleaning</a></li>
						<li class="divider"></li>
						<li><a href="#">Want more?</a></li>
					</ul>
				</div>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
		<script src="/js/bootstrap.js"></script>

	</body>

</html>
